/*benefits*/

.none-title {
    display: none;
}

.benefits {
   
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;

    }

    

        &__item {
            

                @media screen and (min-width: $mobile) {
                    
                    height: 120px;
                }

                &:not(:last-child) {
                    @media screen and (max-width: 767px) {
                        margin-bottom: 136px;
                    } 
                }

                &:last-child {
                    @media screen and (max-width: 767px) {
                        margin-bottom: 106px;
                    }
                }
            
                @media screen and (min-width: $tablet) {
                    flex-basis: calc((100% - 30px) / 2);
                    height: 120px;
                    margin-bottom: 134px;
                }
            
                @media screen and (min-width: $desktop) {
                    width: 270px;
                    height: 120px;
                }

        }
       
        
    
        &__icon-antenna {
            display: flex;
            margin-bottom: 30px;
            background: #f5f4fa;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            height: 120px;
        }
    
        &__icon-clock {
            display: flex;
            margin-bottom: 30px;
            background: #f5f4fa;
            border-radius: 4px;
            align-items: center;
                justify-content: center;
            height: 120px;
        }
    
        &__icon-diagram {
            display: flex;
            margin-bottom: 30px;
            background: #f5f4fa;
            border-radius: 4px;
            align-items: center;
                justify-content: center;
            height: 120px;
        }
    
        &__icon-astronaut {
            display: flex;
            margin-bottom: 30px;
            background: #f5f4fa;
            border-radius: 4px;
            align-items: center;
                justify-content: center;
            height: 120px;
        }
    
        &__title {
            margin-bottom: 10px;
    
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;

            @media (min-width: 769px) {
                text-align: center;
            }
        }
    
        &__text {
            color: #757575;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
        }
}        